/*布局样式*/
body{
    background: #f7f7f7;
}
.bg{
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    position: relative;
    margin: 0 auto;
}
.bg:after{
    content: "";
    width: 100%;
    height:0.025rem;
    border-top: 0.025rem solid #eee;
    position: absolute;
    bottom: 6.5rem;
    left: 0
}
.bg_top{
    width: 100%;
    height: 1.5rem;
    background: #1e89e0;
}
.warp{
    margin: 0 auto;
    width: 29.5rem;
    margin-top: -1.5rem;
}
#header{
    height: 1.5rem;
    width: 100%;
    margin: 0 auto;
}
#search{
    width: 29.5rem;
    margin-top: .25rem
}
#nav{
    width: 28.5rem;
    margin-top: 1.5rem;
    background: #fff;
    border:0.02rem solid #e6e6e6;
    border-top-width:0.05rem;
    padding:0.25rem 0.75rem 0.5rem 0.25rem;
    font-size: 0.35rem;
}
#content{
    width: 100%;
    margin-top: .525rem;
    background: #fff;
    border:1px solid #e6e6e6;
}
#footer{
    width:28.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.3rem;
    padding: 0.875rem 0
}
#slider{
    z-index: 2;
    width: 0.875rem;
    height:100%;
    background: #504d53;
    position: fixed;
    top:0;
    right: 0;
    text-align: center;
}

/*模块样式-header*/
.logo{
    display:inline;
    display:inline-block;
    text-indent:-249.975rem;
    width: 2.925rem;
    height: 1.5rem;
    background: url("../images/icon/logo.png") left top no-repeat;
    background-position:0 0.375rem;
    margin-right: 0.45rem;
}
/*网站导航*/
.menu li{
    float:left;
}
.menu .active{
    background: #006bc7;
}
.menu li:hover{
    background: #0980e1
}
.menu a{
    font-size: .425rem;
    color: #ffffff;
    height:.75rem;
    width: 100%;
    display: block;
    padding:0.375rem 0.675rem;
}
/*导航样式，图标样式*/
.rule,.icon_M,.user{
    position: relative;
    display:inline-block;
    padding:0.375rem 0;
    font-size: 0.4rem;
    color: #e6e6e6
}
.rule:hover,.icon_M:hover,.user:hover{
    color: #ffffff;
}
.rule{
    margin-right: 1rem;
}
.icon-mobile,.icon-user{
    position: absolute;
    left: -.7rem;
    top: .3rem;
    display: inline-block;
    font-size: .62rem;
}
.icon_M{
    margin-right: 2.675rem;
}
.Mobile:hover div{
    top: 100%;
    left: -2rem;
}

/*search样式*/
.address{
    display:inline-block;
    height:.35rem;
    padding:0.2rem 0;
}
.address span{
    color: #999;
}
.position{
    color:#333;
    width:3.25rem;
    margin-left:.25rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block
}
.tab_address{
    margin-left:.5rem;
    color: #83cdf7;
}
.searchName{
    position: relative;
    float:right;
    display:inline-block;
    background: #fff;
    width:7.075rem;
    height:.55rem;
    line-height: .55rem;
    border:1px solid #ccc;
    padding-top:.2rem;
    padding-bottom:.2rem ;
    padding-left:.25rem;
}
.searchName input{
    border:none;
    width:6rem;
    height: .55rem;
    line-height: .55rem;
    font-size:.35rem;
}
.find{
    position: absolute;
    display: inline-block;
    width: .35rem;
    height: .75rem;
    right: .35rem;
    top: .25rem;
}
/*nav样式*/
#nav span{
    color:#999;
    padding-top: .125rem;
}
#nav ul{
    width:26.5rem;
}
#nav li{
    float:left;
    color:#000;
}
#nav li:hover{
    background: #f6f6f6
}
#nav .active{
    background: #f6f6f6
}
#nav a{
    display:block;
    color:#666;
    padding:0.125rem 0.375rem 0.375rem 0.375rem;
}
/*contenr样式*/
.shop_list a{
    position: relative;
    width:7.375rem;
    height:3.55rem;
    float:left;
    font-size:0.35rem;
    color: #999;
}
.shop_list a:hover{
    background: #f5f5f5;
}
.shop_logo{
    display:inline-block;
    text-align:center;
    width:1.8rem;
    padding:0.5rem
}
.shop_logo img{
    width:1.75rem;
    height:1.75rem;
    margin-bottom:0.375rem;
}
.shop_info{
    display: inline-block;
    padding:0.5rem
}
.star{
    position: relative;
    height: .25rem;
    width: 1.6rem;
    overflow: hidden;
}
.star img{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: 0;
}
.shop_name,.star,.play_for{
    margin-bottom:0.25rem;
}
.shop_name{
    font-weight: bold;
    font-size:0.45rem;
    color: #000000;
}
.shop_show,.shop_show_last{position:absolute;top:0;width:6.675rem;background-Color:#ffffff;z-index:3;border: .01rem solid #cccccc;padding:.45rem .35rem }
.shop_show .sanjiao,.shop_show_last .sanjiao{
    position: absolute;
    top:.25rem;
    width: 0;
    height: 0;
    border-style: solid ;
}/*三角形统一样式*/
.shop_show .sanjiao{left:-.26rem;border-color: transparent #e6e6e6 transparent transparent ;
    border-width: .26rem .26rem .26rem 0;}/*三角形前三栏底层样式*/
.shop_show_last .sanjiao{left:7.375rem;border-color: transparent transparent transparent #e6e6e6;
    border-width: .26rem 0 .26rem .26rem;}/*三角形最后一栏底层样式*/
.shop_show{left:7.375rem;}
.shop_show:after{
    content:"";
    position: absolute;
    top:.25rem;
    left:-.2rem;
    width: 0;
    height: 0;
    border-style: solid ;
    border-color: transparent #ffffff transparent transparent ;
    border-width: .25rem .25rem .25rem 0;
}/*三角形前三栏样式*/
.shop_show_last{left:-7.375rem;}
.shop_show_last:after{
    content:"";
    position: absolute;
    top:.25rem;
    left:7.3rem;
    width: 0;
    height: 0;
    border-style: solid ;
    border-color: transparent transparent transparent #ffffff ;
    border-width: .25rem  0 .25rem .25rem;
}/*三角形最后一栏样式*/

.shop_show h3{border-bottom:1px solid #f2f2f2;}
.shop_show h3 strong{font-size:.45rem}
.shop_show h3 p{height:1rem;line-height:1rem}
.shop_show h3 span{color:#999999;margin-right:.125rem;}
.shop_show h4{background:#f2f2f2;margin-top:.4rem;}
.shop_show h4 p{height: .75rem;line-height: .7rem}
.shop_show em{color: red}
.shop_show h4 .free{display:inline-block;width:2.15rem;text-align:center;border-right:1px solid #f2f2f2;}
.shop_show h4 .time{display:inline-block;width:4.4rem;text-align:center;}
.shop_show .introduce{margin-top:.6rem;color:#666666;}
/*footer样式*/
.abc{
    width: 45%;
}
.help,.cooperation,.about{
    display:inline-block;
    margin-right:1.2rem;
}
.help p,.cooperation p,.about p{
    margin-bottom:0.3rem;
    font-size:0.4rem;
}
.help ul,.cooperation ul,.about ul{
    float: left;
    display: inline-block
}
.help a,.cooperation a,.about a{
    margin-bottom:0.3rem;
    font-size:0.35rem;
    color:#666;
    display: block;
}
.web_info{
    width: 50%;;
    height:2.3rem;
    margin-right:1rem;
    border-left:0.025rem solid #eee;
}
.contact p{
    padding-left:1rem;
    margin-top: 0.25rem;
    font-size: 0.4rem;
    color: #666666;
}
.app_down img{
    width:2.2rem;
    height:2.2rem;
}
.down_link{
    padding:0.75rem 0 0.75rem 0.625rem;
}
.down_link p{
    margin-top: 0.25rem;
    font-size: 0.4rem;
    color: #666666;
}
.shop_menu{
    margin-top: 4.75rem;
    margin-bottom: 2rem;
}

/*slider样式*/
#slider a{
    margin-top: .55rem;
    display: block;
    width: .875rem;
}
#slider a:hover{
    background:#1e89e0;
}
#slider p{
    margin: 0 auto;
    color:#e6e6e6;
    width: .55rem;
    font-size: .25rem;
}
.icon-note,.icon-14shopcar1,.icon-mail,.icon-qrcode,.icon-top{
    padding: .35rem 0;
    color: #e6e6e6;
    font-size: .5rem;
}
.icon-note{
    border-bottom: 1px solid #e6e6e6;
}
.icon-mail{
    border-top: 1px solid #e6e6e6;
}
.icon-top{
    display: none;
}
.QR_code:hover div{
    top: 0;
    left: -4rem;
}
#slider .shop_car{
    width: .65rem;
    margin: .45rem auto;
    padding: .25rem 0;
}
/*公用模块样式*/
.Mobile,.QR_code{
    display: inline-block;
    position: relative;
    text-align: center;
}
.Mobile img,.QR_code{
    width: 3.5rem;
    height: 3.5rem;
}
.Mobile:hover div,.QR_code:hover div{
    display: block;
}
.bottom_tringle{
    display: none;
    position: absolute;
    width: 4rem;
    height: 5rem;
    background: white;
    z-index: 3;
}
.bottom_tringle:after{
    content: "";
    position: absolute;
    top: -.2rem;
    left: 1.85rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.2rem 0.25rem 0.2rem;
    border-color: transparent transparent #fff transparent;
}